cucumber-mvn-reporting/src/main/app/httpService.xml
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	xmlns="http://www.mulesoft.org/schema/mule/core" 
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="9999" doc:name="HTTP Listener Configuration"/>
    <flow name="bddFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/test" doc:name="HTTP"/>
<!--         <async doc:name="Async"> -->
<!--             <flow-ref name="asyncFlow" doc:name="asyncFlowRef"/> -->
<!--         </async> -->
        <logger message="Start #[message]" level="INFO" doc:name="Logger"/>
        <set-payload value="Test" doc:name="Set Payload"/>
        <catch-exception-strategy doc:name="httpServiceCatch_Exception_Strategy">
            <logger message="main exception #[message]" level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
    </flow>
    <flow name="asyncFlow">
        <logger message="Start Async #[message]" level="INFO" doc:name="Logger"/>
        <logger message="#[payload.get('xxx')]" level="INFO" doc:name="Logger"/>
        <logger message="STEP 3" level="INFO" doc:name="Logger"/>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <logger message="async exception #[message]" level="INFO" doc:name="Logger"/>
        </catch-exception-strategy>
    </flow>
</mule>
